:root {
    --primary-color: #2584ff;
    --secondary-color: #00d9ff;
    --accent-color: #ff3400;
    --color-headings: #1b0760;
    --color-body: #918ca4;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

/* Topography */
html {
    /*this will be calculated based on the default font size*/
    font-size: 62.5%;
}

body {
    font-family: Inter, Arial, Helvetica, sans-serif;
    color: var(--color-body);
    font-size: 2.4rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h1 {
    font-size: 7rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}

@media screen and (min-width:1024px) {

    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/* Links */
a {
    text-decoration: none;
}

.link-arrow {
    color: var(--accent-color);
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

.link-arrow::after {
    content: "-->";
    margin-left: 5px;
    transition: margin 0.15s;
}

.link-arrow:hover::after {
    margin-left: 10px;
}

@media screen and (min-width: 1024px) {
    .link-arrow {
        font-size: 1.5rem;
    }
}

/* Badges */

/* the badge block or component */
.badge {
    border-radius: 20px;
    padding: .5rem 2rem;
    font-weight: 600;
    font-size: 2rem;
    /* forbid the text collpase in small space*/
    white-space: nowrap;
}

/* a badge modifier */
.badge--primary {
    background: var(--primary-color);
    color: white;
}

.badge--secondary {
    background-color: var(--secondary-color);
    color: white;
}

.badge--small {
    font-size: 1.6rem;
}

@media screen and (min-width:1024px) {
    .badge {
        font-size: 1.5rem;
    }

    .badge--small {
        font-size: 1.2rem;
    }
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-headings);
}

/* In BEM convention we use __ to separate a block and his element(internal part of the component) */
.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

.list--tick {
    list-style-image: url(../icons/tick.svg);
    padding-left: 3rem;
}

.list--tick .list__item {
    padding-left: .5rem;
    margin-bottom: 1rem;
}

@media screen and (min-width:1024px) {
    .list--tick .list__item {
        padding-left: 0;
    }
}

/* Icons */
.icon {
    width: 40px;
    height: 40p;
}

.icon--primary {
    fill: var(--primary-color)
}

.icon-container {
    align-items: center;
    background: #f3f9fa;
    border-radius: 100%;
    display: inline-flex;
    height: 64px;
    justify-content: center;
    width: 64px;
}

/* Buttons */
.btn {
    border-radius: 40px;
    border: none;
    cursor: pointer;
    font-size: 1.8rem;
    font-weight: 600;
    margin: 1rem 0;
    padding: 2rem 3rem;
    text-align: center;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn--primary {
    background-color: var(--primary-color);
    color: white;
}

.btn--primary:hover {
    background: #3a8ffd;
}

.btn--secondary {
    background-color: var(--secondary-color);
    color: white;
}

.btn--secondary:hover {
    background-color: #00c8eb;
}

.btn--accent {
    background-color: var(--accent-color);
    color: white;
}

.btn--accent:hover {
    background: #ec3000;
}

.btn--outline {
    background: #fff;
    color: var(--color-headings);
    border: 2px solid var(--color-headings);
}

.btn--outline:hover{
    background: var(--color-headings);
    color: #fff;
}

.btn--block {
    width: 100%;
    display: inline-block;
}

@media screen and (min-width:1024px) {
    .btn {
        font-size: 1.5rem;
    }
}

/* Inputs */
/* TODO:I think later on I will have to apply a margin top */
.input{
    border-radius: 30px;
    border: 1px solid #ccc;
    color: var(--color-headings);
    font-size: 2rem;
    outline: none;
    padding: 1.5rem 3.5rem;
}

::placeholder{
    color: #cdcbd7;
}

@media screen and (min-width:1024px) {
    .input{
        font-size: 1.5rem;
    }
}