<section class="container block">
    <header class="block__header">
        <h2>Host on the Cloud to keep growing</h2>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam, odit!</p>
    </header>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="icons/sprite.svg#easy"></use>
                </svg>
            </span>
            <h3 class="feature__heading">Super Easy to Use</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi obcaecati, nostrum, exercitationem
                quibusdam, quis nesciunt fugit est doloremque officia soluta deserunt. Optio incidunt voluptatibus,
                quidem totam ducimus voluptatum eos ratione voluptate. Voluptatum reprehenderit nisi nam velit.
                Temporibus ab blanditiis officiis doloribus. Voluptate incidunt sit fugiat harum cum quidem ratione
                porro?</p>
            <a class="link-arrow" href="#">Learn More</a>
        </div>
        <div>
            <picture>
                <source type="image/webp" srcset="images/easy.webp 1x, images/easy@2x.webp 2x">
                <source type="image/jpg" srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x">
                <img class="feature__image" src="images/easy@2x.jpg" alt="">
            </picture>
        </div>
    </article>
    <article class="grid grid--1x2 feature">
        <div class="feature__content">
            <span class="icon-container">
                <svg class="icon icon--primary">
                    <use xlink:href="icons/sprite.svg#wordpress"></use>
                </svg>
            </span>
            <h3 class="feature__heading">WordPress made easy</h3>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi obcaecati, nostrum, exercitationem
                quibusdam, quis nesciunt fugit est doloremque officia soluta deserunt. Optio incidunt voluptatibus,
                quidem totam ducimus voluptatum eos ratione voluptate. Voluptatum reprehenderit nisi nam velit.
                Temporibus ab blanditiis officiis doloribus. Voluptate incidunt sit fugiat harum cum quidem ratione
                porro?</p>
            <a class="link-arrow" href="#">Learn More</a>
        </div>
        <div class="container block">
            <picture>
                <source type="image/webp" srcset="images/wordpress.jpg 1x, images/wordpress.jpg 2x">
                <source type="image/jpg" srcset="images/wordpress.jpg 1x, images/wordpress.jpg 2x">
                <img class="feature__image" src="images/wordpress.jpg" alt="">
            </picture>
        </div>
    </article>
</section>