<div class="media">
    <div class="media__image">
        <svg class="icon icon--primary">
            <use xlink:href="icons/sprite.svg#snap"></use>
        </svg>
    </div>
    <div class="media__body">
        <h3 class="media__title">Easy Start & Managed Updates</h3>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus facere velit nobis dolores dignissimos
            officia deleniti voluptates odio ullam sapiente.
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. At molestias eos nobis delectus dignissimos
            ratione porro! Asperiores, veniam minima. Neque optio ex ut deleniti tenetur amet vitae sequi dolorum
            quasi.
        </p>
    </div>
</div>